/* You can add global styles to this file, and also import other style files */
@import './field';
@import "node_modules/bootstrap/scss/bootstrap";


body {
	background-color: $background-color;
}

.main-form {
	width: 450px;
	margin: auto;
}
