<div class="main-form">
	<h1></h1>
	<div>
<dl class="row">
  <dt class="col-sm-3">City:</dt>
  <dd class="col-sm-9">{{weather.weather.name}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Temperature:</dt>
  <dd class="col-sm-9">{{weather.weather.main.temp}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Weather:</dt>
  <dd class="col-sm-9">{{weather.weather.weather[0].main}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Description:</dt>
  <dd class="col-sm-9">{{weather.weather.weather[0].description}}</dd>
</dl>
</div>
</div>